.section-third {
    padding: 85px 0  40px; 
    background: map-get($map: $colors, $key: backgroundColor);
    @include responsive(map-get($devices, tablet)){
        padding: 45px 0; 
    }
    .wrapper {
        @include responsive(map-get($devices, laptop)){
            width: 94%;
      } 
    }

   .underline--line-third {
    text-align: center;
    @include fontSize($size: 14px);
    @include responsive(map-get($devices, extralargePhone)){
        @include fontSize($size: 12px);
  }
   }

   .underline--line-third::after {
    content: "";
    width: 0;
    height: 1px;
    margin: auto;
    display: block;
    align-items: center;
    background: map-get($map: $colors, $key: fontColorGrey);
   }

   .underline--line-third::after {
        width: 40%;
        margin-top: 15px;
        margin-bottom: 12px;
   }

   .heading--head-third {
    text-align: center;
    @include fontSize($size: 25px)
   }

   ul {
    margin-top: 45px;
   @include flex();
   @include wrap($wrap: wrap); 
   @include responsive(map-get($devices,tablet)){
    align-items: center;
    @include direction($direction: column)
   }
   }

   li {
    width: 47%;
    padding-bottom: 52px;
    @include responsive(map-get($devices,tablet)){
        width: 97%;
        padding-bottom: 22px;
       }
   }

   img { 
    border: 15px solid map-get($map: $colors, $key: whiteColor); 
    @include image($width:100%,$height:null,$objFit:cover);
}

.spacing {
    margin-left: 5%;
    @include responsive(map-get($devices,tablet)){
        margin-left: 0;
       }
}
}